<div class="row">
        <form {{action login on='submit'}} role="form" class="form-horizontal col-md-6">
            <div class="form-group">
                <label for="identification" class="col-sm-2">Login</label>
                <div class="col-sm-10">
                    {{view Ember.TextField id='identification' classNames='form-control' type='email' valueBinding='identification' placeholder='Enter Login'}}
                </div>

            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2">Password</label>
                <div class="col-sm-10">
                    {{view Ember.TextField id='password' classNames='form-control col-sm-10' type='email' type='password' valueBinding='password' placeholder='Enter Password'}}
                </div>

            </div>

            <button class="btn btn-default" type="submit">Login</button>
        </form>
    <div class="col-md-6">
        <ul class="button-list">
            <li class="col-md-12 col-lg-6">
                <button class="btn btn-large" {{action 'logInWithGoogle'}}>
                    <span class="glyphicon glyphicon-star"></span>Sign in with Google
                </button>
            </li>
            <li class="col-md-12 col-lg-6">
                <button class="btn btn-large" {{action 'logInWithFacebook'}}>
                    <span class="glyphicon glyphicon-star"></span>Sign in with Facebook
                </button>
            </li>
            <li class="col-md-12 col-lg-6">
                <button class="btn btn-large" {{action 'logInWithTwitter'}}>
                    <span class="glyphicon glyphicon-star"></span>Sign in with Twitter
                </button>
            </li>
            <li class="col-md-12 col-lg-6">
                <button class="btn btn-large" {{action 'logInWithGitHub'}}>
                    <span class="glyphicon glyphicon-star"></span>Sign in with GitHub
                </button>
            </li>
        </ul>

    </div>
</div>
